<div class="flex flex-col justify-center items-center mt-16">
  <div id="<%= dom_id candidate %>" class="card w-96 bg-primary shadow-xl">
    <figure><img src="https://robohash.org/<%= candidate.id %>" /></figure>
    <div class="card-body space-y-4">
      <div class="flex text-4xl justify-center text-white">
        <%= candidate.first_name %>
        <%= candidate.last_name %>
      </div>
      <p class="text-center text-white">
        <strong>Status:</strong>
        <%= candidate.status %>
      </p>
      <p class="text-center text-white text-2xl">Maybe</p>
    </div>
  </div>
  <div class="flex justify-around mt-24 space-x-32">
    <%= render "candidates/about", candidate: candidate %>
    <%= render "candidates/education", candidate: candidate %>
    <%= render "candidates/scores", candidate: candidate %>
  </div>
</div>
</div>