<div id="<%= dom_id candidate %>">
  <p>
    <strong>First name:</strong>
    <%= candidate.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= candidate.last_name %>
  </p>

  <p>
    <strong>Technical score:</strong>
    <%= candidate.technical_score %>
  </p>

  <p>
    <strong>Average behavioral:</strong>
    <%= candidate.average_behavioral %>
  </p>

  <p>
    <strong>Total score:</strong>
    <%= candidate.total_score %>
  </p>

  <p>
    <strong>Highest level:</strong>
    <%= candidate.highest_level %>
  </p>

  <p>
    <strong>Higher education name:</strong>
    <%= candidate.higher_education_name %>
  </p>

  <p>
    <strong>Major:</strong>
    <%= candidate.major %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= candidate.gender %>
  </p>

  <p>
    <strong>Pronouns:</strong>
    <%= candidate.pronouns %>
  </p>

  <p>
    <strong>Race:</strong>
    <%= candidate.race %>
  </p>

  <p>
    <strong>Employment status:</strong>
    <%= candidate.employment_status %>
  </p>

  <p>
    <strong>Current income:</strong>
    <%= candidate.current_income %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= candidate.status %>
  </p>

  <p>
    <strong>Cohort:</strong>
    <%= candidate.cohort_id %>
  </p>

</div>
