<%= form_with(model: candidate) do |form| %>
  <% if candidate.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(candidate.errors.count, "error") %> prohibited this candidate from being saved:</h2>

      <ul>
        <% candidate.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :first_name, style: "display: block" %>
    <%= form.text_field :first_name %>
  </div>

  <div>
    <%= form.label :last_name, style: "display: block" %>
    <%= form.text_field :last_name %>
  </div>

  <div>
    <%= form.label :technical_score, style: "display: block" %>
    <%= form.number_field :technical_score %>
  </div>

  <div>
    <%= form.label :average_behavioral, style: "display: block" %>
    <%= form.text_field :average_behavioral %>
  </div>

  <div>
    <%= form.label :total_score, style: "display: block" %>
    <%= form.text_field :total_score %>
  </div>

  <div>
    <%= form.label :highest_level, style: "display: block" %>
    <%= form.text_field :highest_level %>
  </div>

  <div>
    <%= form.label :higher_education_name, style: "display: block" %>
    <%= form.text_field :higher_education_name %>
  </div>

  <div>
    <%= form.label :major, style: "display: block" %>
    <%= form.text_field :major %>
  </div>

  <div>
    <%= form.label :gender, style: "display: block" %>
    <%= form.text_field :gender %>
  </div>

  <div>
    <%= form.label :pronouns, style: "display: block" %>
    <%= form.text_field :pronouns %>
  </div>

  <div>
    <%= form.label :race, style: "display: block" %>
    <%= form.text_field :race %>
  </div>

  <div>
    <%= form.label :employment_status, style: "display: block" %>
    <%= form.text_field :employment_status %>
  </div>

  <div>
    <%= form.label :current_income, style: "display: block" %>
    <%= form.number_field :current_income %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.text_field :status %>
  </div>

  <div>
    <%= form.label :cohort_id, style: "display: block" %>
    <%= form.number_field :cohort_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
